* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #fa8978;
}

.outer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-div {
    background: rgb(31, 28, 28);
    margin: auto;
    border-radius: 20px;
    min-height: 500px;
    min-width: 450px;
    border: 2px solid white;
}

.form-div h1 {
    text-align: center;
    padding-top: 5%;
    font-weight: 400;
    font-size: 20px;
    color: #fa8978;
    letter-spacing: 2px;
}

#form {
    color: #ccabd8;
    padding-left: 9%;
    padding-top: 5%;
    padding-right: 9%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
}

#form input[type="text"], input[type="number"], input[type="email"] {
    max-width: 100%;
    min-height: 30px;
    border: none;
    background: none;
    border-bottom: 2px solid #fa8978;
    color: white;
    outline: none;
    font-size: 16px;
    padding-top: 4%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#form input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

.radio label{
    color: #fa8978;
    cursor: pointer;
}

.radio input[type="radio"], input[type="checkbox"] {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.radio p{
    color: #ccabd8;
    cursor: default;
}

#form button {
    background: #ccabd8;
    border: none;
    min-height: 30px;
    color: rgb(31, 28, 28);
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}

#form button:hover {
    background: #bb8bcc;
}

#message {
    font-size: small;
    font-style: italic;
    color: #fa8978;
    text-align: center;
    padding: 10px;
    word-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    .form-div{
        max-width: 200px;
        padding: auto 20px;
    }    
}
